.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
}
header .logo {
  color: #2a73dd;
}
header nav a {
  color: #1d365e;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}
header nav a:hover {
  color: #2a73dd;
}
header nav a.active {
  color: #2a73dd;
}
header nav a.active::before {
  width: 100%;
}
header nav a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0%;
  transform: translateX(-50%);
  height: 2px;
  background: #2a73dd;
  transition: 0.3s;
}
header nav a:hover::before {
  width: 100%;
}

.banner {
  background-image: url(../image/product-header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.banner h2 {
  color: #2a73dd;
}
.banner h3 {
  color: #1d365e;
}
.banner .btn-infor {
  padding: 15px 60px;
  border-radius: 8px;
  font-size: 14px;
  border: 2px solid #2a73dd;
}
.banner .btn-shop {
  padding: 15px 60px;
  border-radius: 8px;
  font-size: 14px;
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
}/*# sourceMappingURL=index.css.map */