@import "./variable";
@import "./mixin"; // my css
.container {
  width: 90%;
  margin: 0 auto;
}

// -- nested
header {
  background: $color-white-1;
  box-shadow: 0 2px 4px $color-white-2;
  .logo {
    color: $color-blue-1;
  }
  nav {
    a {
      color: $color-blue-2;
      font-size: $font-small;
      transition: 0.3s;
      position: relative;
      &:hover {
        color: $color-blue-1;
      }
      &.active {
        color: $color-blue-1;
        &::before {
          width: 100%;
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -3px;
        width: 0%;
        transform: translateX(-50%);
        height: 2px;
        background: $color-blue-1;
        transition: 0.3s;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
}
.banner {
  background-image: url(../image/product-header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  h2 {
    color: $color-blue-1;
  }
  h3 {
    color: $color-blue-2;
  }
  .btn-infor {
    @include btn-theme(15px);
    border: 2px solid $color-blue-1;
  }
  .btn-shop {
    @include btn-theme(15px);
    background: linear-gradient(120deg, #60a4f4, #2a73dd);
  }
}
// @mixin btn-theme($base) {
//   padding: $base * 1 $base * 3;
//   border: 1px solid red;
//   border-radius: 8px;
//   font-size: 14px;
// }
